.header_kn_2_0_0 {
  font-family: var(--primary-font);
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
  &__top {
    background-color: #003c77;
    position: relative;
    height: 65px;
    display: flex;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__logo {
    display: block;
    width: 142px;
    margin: 0;
    img {
      width: 100%;
      height: auto;
      display: flex;
    }
  }
  &__action {
    display: flex;
    align-items: center;
  }
  &__redirectWeb {
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 50px;
    &:hover {
      background-color: #fff;
      color: #003c77;
      transition: all 0.2s linear;
    }
  }
  &__global {
    margin-left: 15px;
    width: 210px;
    img {
      width: 100%;
      height: auto;
      display: flex;
    }
  }
  &__location {
    cursor: pointer;
    width: 32px;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__bottom {
    position: relative;
    z-index: 1;
    background-color: #fff;
  }
  &__nav {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    &Item {
      display: inline-block;
      width: 14%;
      position: relative;
      > a {
        text-transform: capitalize;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        text-wrap: nowrap;
        font-weight: 500;
        > span {
          display: none;
        }
      }
      &:hover {
        > a {
          color: #db7f27;
        }
      }
      &:last-child {
        flex-grow: 1;
      }
    }
  }
  .view {
    display: none;
    width: 10%;
    height: 100%;
    text-align: center;
  }
  &__dropdown {
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    max-width: 250px;
    width: max-content;
    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.1);
    &Item {
      display: inline-block;
      width: 100%;
      transition: 0.2s all linear;
      position: relative;
      > a {
        text-transform: capitalize;
        display: block;
        padding: 8px 10px;
        transition: 0.2s all linear;
      }
      &:not(:last-child) > a {
        border-bottom: 1px solid #fff;
      }
      &:hover {
        background-color: #db7f27;
        > a {
          border-color: #fff;
          color: #fff;
        }
        .header_kn_2_0_0__dropdownSub {
          display: block;
        }
      }
    }
    &Sub {
      display: none;
      top: 0;
      left: 100%;
    }
  }
  &__head {
    display: none;
  }
  &__button {
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #fff;
    gap: 6px;
    font-size: 30px;
    cursor: pointer;
    span {
      line-height: 0;
    }
  }
  &__close {
    display: none;
  }
  &__bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
  }
  @media (max-width: 1200px) {
    &__logo {
      width: 135px;
    }
    &__redirectWeb {
      font-size: 14px;
    }
    &__global {
      margin-left: 10px;
      width: 180px;
    }
    &__navItem > a,
    &__dropdownItem > a {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  @media (max-width: 1024px) {
    &__top {
      height: 58px;
      .container {
        flex-direction: column;
        justify-content: center;
      }
    }
    &__logo {
      width: 140px;
    }
    // &__action{
    //   display: none;
    // }
    &__redirectWeb,
    &__global {
      display: none;
    }
    &__location {
      position: absolute;
      top: 13px;
      right: 25px;
    }
    &__button {
      display: flex;
      position: absolute;
      top: 20px;
      left: 25px;
    }
    &__redirectWeb {
      padding: 2px 10px;
      font-size: 13px;
    }
    &__bottom {
      transform: translateX(-100%);
      visibility: hidden;
      opacity: 0;
      transition: 0.2s all ease-in-out;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 330px;
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      .container {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
      }
      &.show {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
        z-index: 10;
      }
    }
    &__close {
      display: block;
      width: 10px;
      margin-top: 5px;
      margin-left: auto;
      margin-right: 20px;
      font-size: 21px;
      cursor: pointer;
    }
    &__nav {
      display: block;
      width: 100%;
      &Item {
        display: block;
        width: 100%;
        position: static;
        > a {
          padding: 10px 20px;
          text-transform: uppercase;
          > span {
            display: block;
          }
        }
        &:not(:last-child) > a {
          border-bottom: 1px solid #e1dddd;
        }
      }
    }
    .view {
      display: block;
    }
    &__dropdown {
      transition: 0.2s all ease-in-out;
      display: block;
      z-index: 1;
      background-color: #fff;
      width: 100%;
      height: 100%;
      max-width: none;
      top: 0;
      left: 0;
      &Item {
        display: block;
        width: 100%;
        position: static;
        > a {
          padding: 8px 20px;
          text-transform: uppercase;
        }
        &:not(:last-child) > a {
          border-bottom: 1px solid #e1dddd;
        }
      }
      &Main,
      &Sub {
        transform: translateX(100%);
        visibility: hidden;
        opacity: 0;
        &.show {
          transform: translateX(0);
          visibility: visible;
          opacity: 1;
          height: 90vh;
          box-shadow: none;
        }
      }
    }
    &__head {
      text-align: center;
      text-transform: capitalize;
      font-weight: 600;
      position: relative;
      display: block;
    }
    &__back {
      position: absolute;
      left: 20px;
      cursor: pointer;
    }
    &__bg {
      background-color: #000;
      opacity: 0.5;
    }
  }
  @media (max-width: 767px) {
    &__bottom {
      max-width: 280px;
    }
  }
  @media (max-width: 375px) {
    &__redirectWeb {
      font-size: 10px;
    }
  }
}
.fixed-body {
  height: 100vh;
  overflow: hidden;
}